/* HomeAbout start */
.fimage {
    border-radius: 0px 200px 0px 193px;
    -webkit-border-radius: 0px 200px 0px 193px;
    -moz-border-radius: 0px 200px 0px 193px;
}

.simage {
    border-radius: 0px 200px 200px 0px;
    -webkit-border-radius: 0px 200px 200px 0px;
    -moz-border-radius: 0px 200px 200px 0px;
    background-color: rgb(0, 49, 38) !important;
}

.fdiv {
    border-radius: 200px 200px 0px 200px;
    -webkit-border-radius: 200px 200px 0px 200px;
    -moz-border-radius: 200px 200px 0px 200px;
    background-color: var(--green) !important;
    width: 130px;
    height: 110px;
}

.sdiv {
    border-radius: 200px 0px 200px 0px;
    -webkit-border-radius: 200px 0px 200px 0px;
    -moz-border-radius: 200px 0px 200px 0px;
    background-color: var(--teal);
    width: 160px;
    height: 110px;
}

/* HomeAbout end */
/* counter start */
.counterbck_image {
    background-image: url("https://raw.githubusercontent.com/tankvaishali/IT-Company/refs/heads/main/src/assets/image/counterimage002.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    box-shadow: inset 0px 0px 0px 2000px hsla(184, 94%, 6%, 0.904);
}

.counter {
    font-family: var(--teal);
    border: 2px solid #00545f96;
    background-color: #021c1e3e;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease-in-out;
}

.counter::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--teal);
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 0%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.hovercolor {
    transition: all 0.3s ease-in-out;
}

.counter:hover::after {
    bottom: 0%;
    height: 100%;
    color: white !important;
}

.counter:hover .hovercolor {

    color: white !important;
}

.countericon {
    font-size: 80px;
}

.countnumber {
    font-family: none !important;
    font-size: 30px;
}

.nextprevbtn {
    /* left: 20 !important; */
    margin: 20px !important;
}

/* counter end */
/* service start */
.servicebg {
    background-image: url("../images/whychooseus_enhanced.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 160px;
}

.service_sec {
    width: 84%;
    margin-bottom: -250px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .service_sec {
        width: 88%;
    }

    .servicebg {
        padding-top: 50px;

    }
}

/* service end */
/* Homeproduct start */
.homeproduct_bg {
    background-image: url("../images/product_bg_image.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1 !important;
    padding-top: 250px;

}

@keyframes scrolllogorun {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.partners-logo-slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slide-track {
    display: flex;
    animation: scrolllogorun 40s linear infinite;
    width: calc(300px * 40);
}

.slide-track02 {
    display: flex;
    animation: scrolllogorun 53s linear infinite;
    width: calc(300px * 40);
}

.partners-logo-slider:hover .slide-track,
.partners-logo-slider:hover .slide-track02 {
    animation-play-state: paused !important;
}

.sliderun {
    height: 280px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease-in-out;
}



.sliderun:hover {
    filter: grayscale(95%);
}

@media only screen and (max-width: 576px) {
    .sliderun {
        width: 200px !important;
        height: 180px !important;
    }

}

/* Homeproduct end */

/* QualityAssurance start */
.posdiv {
    width: 50%;
    margin-top: -300px;
    position: relative;
  }
  .main_qualityimg {
    width: 90%;
  }
  @media only screen and (max-width: 991px) {
    .posdiv {
      margin-top: 0;
      position: static;
      width: 100%;
    }
    .main_qualityimg {
      width: 100%;
    }
    .pos_Quality_content {
      margin-top: 170px;
    }
  }
  @media only screen and (max-width: 576px) {
    .main_qualityimg {
      height: auto !important;
    }
    .pos_Quality_content {
      margin-top: 0px;
    }
  }
  .Quality_count {
    background-color: var(--teal);
  }
  .Quality_contact_redirect {
    transition: all 0.4s ease-in-out;
  }
  .Quality_contact_redirect:hover {
    color: var(--green) !important;
  }
  /* QualityAssurance end */
