* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: rgb(115, 186, 56);
  --teal: rgb(0, 140, 141);
}

.fstyle {
  font-family: "Roboto Slab", serif;
}

.pera {
  font-size: 13px;
}

.gradientgreen {
  background-image: linear-gradient(45deg, rgb(75, 139, 32), rgb(130, 197, 66), rgb(143, 208, 66));
  box-shadow: 0px 4px 4px -1px rgb(36, 189, 195);
  width: fit-content;
}

.tealcolor{
  color: var(--teal);
 }
 .greencolor{
  color: var(--green);
 }
/* Button css start*/
.c-button {
  color: #000;
  font-size: 17px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: var(--teal);
  text-transform: uppercase;
  letter-spacing: 1.6px;
  border: 3px solid var(--teal);
  background-color: transparent;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: var(--teal);
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

/* show.jsx btn */
.getquots .c-button {
  font-size: 12px !important;
  padding: 10px !important;
}

/* show.jsx btn */

/* Button css end*/



/* HEADER START */
.navbar-brand {
  position: absolute;
}

.navbar-nav .nav-link {
  position: relative;
  transition: all 0.7s ease-in-out;
  padding: 8px 12px;
  /* border-radius: 5px; */
  text-transform: uppercase;
  color: white;
}

.navbar-nav .nav-link:hover {
  background: rgba(139, 204, 66, 0.56);
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.navbar-nav .nav-link.active {
  color: #007bff;
  background: rgba(139, 204, 66, 0.56);
}

.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, var(--green), var(--teal));
  border-radius: 2px;
  animation: waveMove 1.5s infinite linear;
}

@keyframes waveMove {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.navbar-nav .nav-link:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
  background: rgba(0, 123, 255, 0.1);
  border-radius: 10px;
}

.navbar-toggler-icon {
  background-image: none !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* HEADER END */